* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 3.5rem;
}
}
p {
    font-weight: 300;
}
section {
    display: table;
    width: 100%;
}
.header {
    background: #0f0162;
    height: 70vh;
    border-bottom: 2px solid #000;
}
.header-subtitle{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}
.menu {
    background: #f0f0f0;
    height: 30vh;
    color: #000000;
}
.about {
    background: #ffffff;
    padding: 5vh 0;
}
.about .about-description{
    border-right: 0.1rem solid #000;
    float: left;
    width: 45%;
    font-size: 1.4rem;
    text-align: justify;
    padding-left: 5%;
    padding-right: 2%;
}
.about .about-skill{
    float: right;
    width: 45%;
    text-align: left;
    margin-left: 2%;
}
.about-skill-title{
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 3%;
    margin-right: 5%;
    font-weight: 600;
}
.about-skill-list{
    font-size: 1.2rem;
}
.content-about h1{
    padding-bottom: 2vh;
}
.talks {
    background: #000000;
    color:  #FFFFFF;
    padding: 3% 0;
}
.content-talks h1{
    padding-bottom: 2%;
}
.talks .talks-list a{
    color: #FFFFFF;
}
.talks .talks-list-title{
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.talks .talks-list-description{
    font-size:  1.2rem;
}
.talks .talks-list-links{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.social {
    background: #ffffff;
    padding: 3% 0;
}
.content-header {
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    padding-top: 30vh;
    text-align: center;
}
.content-menu {
    padding-top: 7vh;
    text-align: center;
    font-size: 1.6rem;
}
.content-about{
    text-align: center;
    vertical-align: middle;
}
.content-talks{
    text-align: center;
    vertical-align: middle;
}
.content-social{
    text-align: center;
    vertical-align: middle;
}
a{
    color: #000000;
}
.user-image {
    left: 0;
    position: absolute;
    top: 6vh;
    width: 100vw;
}
.user-image > img {
    border: 3px solid #fff;
    height: auto;
    width: 10rem;
}
.img-profile {
    border-radius: 13%;
}
.links-social-header .btn-social-icon{
    color: #fff;
}
.btn-social-icon {
    padding-top: 5vh;
    height: 3rem;
    width: 3rem;
    display: inline-block;
}
.soon{
    font-size: 0.8rem;
}
@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
        font-weight: 300;
    }
    .header-subtitle{
        font-size: 1rem;
    }
    .about .about-description{
        width: 90%;
        padding: 0 5% 5%;
    }
    .about .about-skill{
        width: 90%;
        margin-left: 10%;
    }
    .talks {
        padding: 8% 0;
    }
    .talks .talks-list-title{
        font-size: 1.4rem;
    }
    .talks .talks-list-description{
        font-size:  1rem;
    }
    .talks .talks-list-links{
        font-size: 1.2rem;
    }
    .social {
        padding: 8% 0;
    }
}
@media (max-height: 510px){
    .user-image{
        display: none;
    }
    .content-header{
        padding: 15vh 0;
    }
}
